* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: whitesmoke;
    overflow-y: auto;
}

section {
    background-color: white;
    width: 350px;
    margin: 150px auto 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.1);
    font-size: 0.75rem;
}

div {
    margin: 10px 0 0 10%;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

.title {
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
    color: black;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    border: solid 0.5px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    width: 250px;
    padding: 8px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

input::placeholder {
    text-align: center;
}

input#checkbox {
    width: auto;
    margin-right: 5px;
    vertical-align: middle;
}

input[type="checkbox"]{
    margin-top: 10px;
}

button {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    background: linear-gradient(45deg, #007bff, #00c4ff);
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

button:hover {
    background: linear-gradient(45deg, #0056b3, #0096cc);
}